[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "==2.0.1"
transformers = "==4.30.0"
sentencepiece = "==0.1.99"
apache-beam = {extras = ["gcp"], version = "==2.50.0"}

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
